.styled-table {
    width: 250%;
   border-radius: 20px;
    border: 1px solid #ddd;

  }
  
  .styled-table th,
  .styled-table td {
   
    padding: 8px;
    text-align: left;
    border-radius: 20px;
  
  }
  
  
  .styled-table th {
    background-color: #f2f2f2;
    color: #333;
    border-radius: 20px;
  }
  
  /* .styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  .styled-table tbody tr:hover {
    background-color: #a387ffb9;
    border-radius: 20px;
  }
  