.weather-widget{
top:2%;
position:relative;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:200px;
height:350px;
border-radius: 35px;
padding:20px;
background: linear-gradient(to bottom, #490efa 0%, #bc86f6 100%);
color:white;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
margin-left: 6.5%;
}
.moon{
    margin-top: 10%;
    fill:white;
    filter: drop-shadow(0 0 20px rgba(252,252,252,0.8));
    width:40%;
    height:40%;
}
.sun{
    margin-top: 10%;
    background-color:orange;
    filter: drop-shadow(0 0 20px rgba(255,165,0,0.8));
    width:40%;
    height:40%;
    border-radius: 50%;
}
@keyframes moveCloud{
    0%,
    100%{
            transform: translateX(-65px);
    }
    50%{
            transform: translateX(65px);
    }

}
.cloud{
    fill:rgb(137, 206, 250);
    filter: drop-shadow(0 0 20px rgba(173,216,252,0.8));
    width:90%;
    height:90%;
    animation:moveCloud 8s ease-in-out infinite;    
}
.cloud-container{
    position:absolute;
    top:85px;
    left:50%;
    transform: translateX(-60% );
}
.temperature{
    font-size: 2.5rem;
    font-weight:bold;
    margin-top:25px;

}
.feels-like{
    font-size: 1rem;
    margin-bottom: 20px;
}
.location{
    font-size: 2rem;
    font-weight:bold;
    margin-top:5px;

}