

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
form{
  margin-top:10%;
  margin-left:10%;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.update-button{
  width:35%;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.dashboard{
    display: flex;

    
}
.dashboard-content{
 margin-left:0%;
}
.weather-widget-container{
  background: #484848;
  margin-top: 1.5%;
  margin-right:3%;
  width:18%;
  height: 71vh;
  border-radius: 50px;

}
.location-input{
  width:35%;
}